[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Farhad gul
	email = 164610570+Farhadali987@users.noreply.github.com
[core]
	editor = \"D:\\Microsoft VS Code\\bin\\code\" --wait
	autocrlf = true
